{#
/**
 * @file my-subscription.html.twig
 * Default theme implementation to present the My Subscription tab.
 *
 * This template is used when viewing the My Subscription tab on a user profile.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('my-subscription') }}>

    <h2 class="current-subscription-heading">Your Subscription Plan</h2>
    <div class="current-subscription-label">{{ current_subscription_label }}</div>
    {% if current_subscription_label__suffix %}
        <div class="current-subscription-label__suffix">{{ current_subscription_label__suffix }}</div>
    {% endif %}

{#    {{ update_subscription_form }}#}

{#    {{ signup_button }}#}
</div>
